@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD; 
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secudaria: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;    
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secudaria);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}


.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo {
   width: 50%;
   display: flex;
   flex-direction: column;
   gap: 40px;   
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;
    font-size: 2.25rem;
}

.titulo-destaque { 
    color: #22D4FD;
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secudaria);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;  
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo  {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal; 
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-family: var(--fonte-secudaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    text-decoration: none;
    padding: 21.5px 0;
    border-radius: 8px;
    border:2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;

}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    text-align: center;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-family: var(--fonte-secudaria);
    font-weight: 400;
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}